zIndex(num)
  999999999 - num
// https://www.pixiv.net/artworks/67481841
$picurl = '/asset/img/bg.jpg'
// Dimensions
$gap = 8px
$font_size = 16px
$progress_height = 0.6vmin
$app_width = 1366px
$drawer_width = 320px
$aside_width = 320px
$main_min_width = 320px
$main_min_width_with_offset = $main_min_width + 32px // scrollbar offset
$app_mobile_width = 1023px //+ $font_size * 6 // $drawer_width + $aside_width + $main_min_width_with_offset ; + 6em
$app_mobile_width_min = $app_mobile_width + 1px // for media min-width
$timeline_col_left = 120px
$post_qrcode_width = 300px
$post_nav_width = 320px
$extension_grid_width = 64px
$float_button_min_app_width = 1488px